{% extends 'accounts/main.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-4"> 
       
            <div class="card   mb-3"  >
                <div class="card-header">
                    <h5 class="card-title">Customers:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Customer</a><br>
                        <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>
                    </h3>
                </div>
         </div></div>
    <div class="col-md-4"> 
        
            <div class="card   mb-3">
                <div class="card-header">
                    <h5 class="card-title">Contact Information:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <h5>Fullname: {{customer.name}}</h5>
                        <h5>Email: {{customer.email}}</h5>
                        <h5>Phone: {{customer.phone}}</h5>
                    </h3>
              
            </div>
        </div>

        </div>
       
            <div class="col-md-4">
            <div class="card  mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {{total_order}}
                    </h3>

                    <h4 class="card-title">
                        Pending Orders:  {{pending}}
                    </h4>
                    
                </div>
            </div>
        </div>



        
    </div>
    
</div>
<br>
<div class="row">
    <div class="col"> 
     
        <div class="card card-body">

            <form method="get" action="">
                {{myFilter.form}}
             <input type="text" name="search" placeholder="Enter Customer" > 
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

         
    </div>
    </div>



     
</div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h2>Orders</h2>
        </div>
        <div class="card card-body">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                {% for order in orders %}
          <tr>
              <td>{{order.id}}</td>
              <td>{{order.product.name}}</td>
              <td>{{order.product.category}}</td>
              <td>{{order.date_created}}</td>
              <td>{{order.status}}</td>
              <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'delete_order' order.id %}">Delete</a></td>
              <td><a class="btn btn-primary btn-sm btn-block" href="{% url 'update_order' order.id %}">Update</a></td>
          </tr>

         {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}